/* Import Google font - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
.topnav {
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #04AA6D;
  color: white;
}

.topnav-right {
  float: right;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: #8effd5;
  margin-top: 50px;
  /* Adjust margin to make space for the fixed navigation bar */
}

/* .title {
  text-align: center;
  margin-top: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
} */

.content {
  background-color: white;
  padding: 80px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 800px;
  margin-top: 20px; /* Adjust margin as needed */
  text-align: center;
  border-radius: 8px;
  display: inline-block;
}

.content1 {
  background-color: white;
  padding: 80px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 800px;
  margin-top: 20px; 
  text-align: center;
  border-radius: 8px;
}

.content-main {
  background-color: white;
  padding: 80px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 960px;
  margin-top: 20px; /* Adjust margin as needed */
  text-align: center;
  border-radius: 8px;
  display: inline-block;
}

.tracklist {
  text-align: left; /* Left-align the tracklist div */
  margin-top: 20px; 
}

#tracklist li {
  color: black; /* Default text color */
  cursor: pointer; 
}

#tracklist li:hover {
  color: rgb(76, 163, 102);
}

.list-group {
  list-style-type: none;
  padding: 0;
  margin: 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  max-width: 640px;
  text-align: left;
}

.list-group li {
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.list-group li:last-child {
  border-bottom: none;
}

.recommendations {
  /* text-align: left;
  margin-top: 20px; */
  display: none;
}

.bandaids {
  text-align: center;
}

nav div{
  margin: 0 10px
}

.sortable-list-main {
  width: 800px;
  padding: 30px 25px 20px;
  background: #fff;
  border-radius: 7px;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
}

.sortable-list-main .item {
  list-style: none;
  display: flex;
  cursor: move;
  background: #fff;
  align-items: left;
  border-radius: 5px;
  padding: 10px 13px;
  margin-bottom: 11px;
  border: 1px solid #ccc;
  justify-content: space-between;
}

.sortable-list {
  width: 800px;
  padding: 30px 25px 20px;
  background: #fff;
  border-radius: 7px;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
}

.sortable-list .item {
  list-style: none;
  display: flex;
  cursor: move;
  background: #fff;
  align-items: center;
  border-radius: 5px;
  padding: 10px 13px;
  margin-bottom: 11px;
  border: 1px solid #ccc;
  justify-content: space-between;
}

.sortable-list1 {
  width: 640px;
  padding: 30px 25px 20px;
  border-radius: 7px;
}

.sortable-list1 .item {
  list-style: none;
  display: flex;
  cursor: move;
  background: #fff;
  align-items: center;
  border-radius: 5px;
  padding: 10px 13px;
  margin-bottom: 11px;
  border: 1px solid #ccc;
  justify-content: space-between;
}

.item .details {
  display: flex;
  align-items: center;
}

.item .details img {
  height: 43px;
  width: 43px;
  pointer-events: none;
  margin-right: 12px;
  object-fit: cover;
  border-radius: 50%;
}

.item .details span {
  font-size: 1.13rem;
}

.item i {
  color: #474747;
  font-size: 1.13rem;
}

.item.dragging {
  opacity: 0.6;
}

.item.dragging :where(.details, i) {
  opacity: 0;
}

.details {
  position: relative;
  overflow: hidden;
  width: 750px;
  padding-bottom: 20px;
}

.details.expanded {
  padding-bottom: 120px;
}

.details .expand {
  position: absolute;
  bottom: 5px;
  right: 5px;
  cursor: pointer;
  color: #43fc7b;
  z-index: 1;
}

.details .expand:hover {
  color: #43fc7b;
}

.expanded-content {
  background-color: #f9f9f9;
  padding: 10px;
  margin-top: 5px;
  border-radius: 5px;
  width: calc(100% - 80px);
  margin-left: 50px; /* Adjust this value to move it to the right */
}


.details .expanded-content {
  position: absolute;
  bottom: 0;
  top: 40;
  left: 0;
  width: 80%;
  background-color: #f9f9f9;
  padding: 10px;

}


.details img {
  max-width: 100%;
  height: auto;
}

nav {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
}

nav a {
  color: #fff;
  text-decoration: none;
}

.add-button {
  position: fixed;
  bottom: 20px;
  left: 20px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #007bff;
  color: #fff;
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  /* display: inline-block; */
}

.playbutton {
  position: fixed;
  bottom: 20px;
  right: 20px; /* Changed from left to right */
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #007bff;
  color: #fff;
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}




.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;

  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 500px;
  border-radius: 5px;
  /* border-radius: 98%; */
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.expand-arrow {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  cursor: pointer;
}

.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.remove-button {
  margin-left: 10px;
}

.addTrack-button {
  margin-left: 10px;
}

.songButton {
  display: flex;
  margin-left: auto;
}

.song-length {
  text-align: left;
}

.songButton button {
  margin-left: 5px;
}

.container {
  display: flex; /* Use flexbox for centering */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically if needed */
  height: 100vh; /* Full height of the viewport if needed */
}

.save-button {
  background-color: #aaff96; /* White background */
  border: 1px solid #ccc; /* Light gray border */
  border-radius: 5px; /* Slightly rounded borders */
  color: #000; /* Black text color */
  padding: 10px 20px; /* Padding for size and spacing */
  cursor: pointer; /* Pointer cursor on hover */
  font-size: 16px; /* Font size */
  display: inline-block; /* Display as inline-block for better styling control */
  text-align: center; /* Center the text */
  font-weight: bold;
}

.play-add-button {
  background-color: #fff; /* White background */
  border: 1px solid #ccc; /* Light gray border */
  border-radius: 5px; /* Slightly rounded borders */
  color: #000; /* Black text color */
  padding: 10px 20px; /* Padding for size and spacing */
  cursor: pointer; /* Pointer cursor on hover */
  font-size: 16px; /* Font size */
  display: inline-block; /* Display as inline-block for better styling control */
  text-align: center; /* Center the text */
}



input[type="text"],
input[type="number"] {
  width: 40px; /* Adjust the width as needed */
}

.inputLink{
  width: 415px;
}

.confirm-button {
  /* position: fixed; */
  background-color: #fff; /* White background */
  border: 1px solid #ccc; /* Light gray border */
  border-radius: 5px; /* Slightly rounded borders */
  color: #000; /* Black text color */
  padding: 10px 15px; /* Padding for size and spacing */
  cursor: pointer; /* Pointer cursor on hover */
  display: inline-block; /* Display as inline-block for better styling control */
  text-align: center; /* Center the text */
}

.confirm-button2 {
  /* position: fixed; */
  background-color: #fff; /* White background */
  border: 1px solid #ccc; /* Light gray border */
  border-radius: 5px; /* Slightly rounded borders */
  color: #000; /* Black text color */
  padding: 10px 20px; /* Padding for size and spacing */
  cursor: pointer; /* Pointer cursor on hover */
  display: inline-block; /* Display as inline-block for better styling control */
  text-align: center; /* Center the text */
}

